<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".AlarmistApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlarmFiredActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity
            android:name=".widget.group.GroupWidgetConfigActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

        <receiver android:name=".core.system.alarm.receiver.AlarmDismissedBroadcastReceiver" />
        <receiver android:name=".core.system.alarm.receiver.AlarmFiredBroadcastReceiver" />
        <receiver android:name=".core.system.alarm.receiver.AlarmUpcomingBroadcastReceiver" />

        <receiver
            android:name=".core.system.boot.BootCompletedBroadcastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".core.system.alarm.AlarmService"
            android:exported="false"
            android:foregroundServiceType="systemExempted" />

        <service
            android:name=".core.system.stopwatch.StopwatchService"
            android:exported="false"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="@string/stopwatch_service_description" />

        </service>

        <receiver
            android:name=".widget.today.TodayWidgetReceiver"
            android:exported="false"
            android:label="@string/today_alarms">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_widget" />
        </receiver>

        <receiver
            android:name=".widget.clock.ClockWidgetReceiver"
            android:exported="false"
            android:label="@string/clock">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget" />
        </receiver>

        <receiver
            android:name=".widget.group.GroupWidgetReceiver"
            android:exported="false"
            android:label="@string/alarm_group">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/group_widget" />
        </receiver>

        <receiver
            android:name=".widget.common.system.ToggleAlarmOnOffOnDateActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".widget.common.system.ToggleAlarmOnOffActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".widget.common.system.WidgetUpdateAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".widget.common.system.WidgetPinnedReceiver"
            android:exported="false" />

    </application>

</manifest>
